
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-green-dark">
            <span class="caption-subject bold uppercase">新增人员</span>
        </div>
    </div>
    <div class="portlet-body form">
        <form role="form">
            <div class="form-body">
                <div class="form-group form-md-radios">
                    <label>性别</label>
                    <div class="md-radio-inline">
                        <div class="md-radio">
                            <input type="radio" class="md-radiobtn"
                                   id="radio1"
                                   name="Gender"
                                   value="1" ng-model="vm.person.gender" checked="">
                            <label for="radio1">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>男
                            </label>
                        </div>
                        <div class="md-radio">
                            <input type="radio" class="md-radiobtn"
                                   id="radio2"
                                   name="Gender"
                                   value="2" ng-model="vm.person.gender">
                            <label for="radio2">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span> 女
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label">
                            <div class="input-icon">
                                <input type="text" class="form-control" id="Name" name="Name" ng-model="vm.person.name" ng-required="true">
                                <label for="Name">真实姓名</label>
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input has-success form-md-floating-label">
                            <div class="input-icon">
                                <input ng-click="open($event, 'opened')" type="text" class="form-control"
                                       id="BirthDate" name="BirthDate" ng-model="vm.person.birthDate"
                                       uib-datepicker-popup="yyyy/MM/dd" show-weeks="false"
                                       is-open="opened" min-date="1930/01/01" datepicker-options="dateOptions"
                                       ng-required="true" close-text="关闭"/>
                                <label for="BirthDate">出生日期</label>
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-group form-md-line-input has-success form-md-floating-label">
                    <div class="input-icon">
                        <input type="text" class="form-control"
                               id="NationalIDNumber"
                               ng-model="vm.person.nationalIDNumber"
                               ng-required="true" minlength=10>
                        <label for="NationalIDNumber">身份证号码</label>
                        <i class="fa fa-bell-o"></i>
                    </div>
                </div>
            </div>
            <div class="form-actions noborder">
                <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")"
                        class="btn btn-primary blue" ng-click="vm.save()"
                        ng-disabled="personCreateOrEditForm.$invalid">
                    <i class="fa fa-save"></i> <span>@L("Save")</span>
                </button>
            </div>
        </form>
    </div>
</div>
