<!-- BEGIN FORM-->
<uib-tabset class="tab-container tabbable-line">
    <uib-tab heading="个人信息">
        <form class="form-horizontal" role="form" data-ng-if="vm.editInfo === 0">
            <div class="form-body">

                <span class="font-blue bold">
                    基本信息
                    <a href="javascript:;" class="btn btn-xs red pull-right"
                       tooltip-placement="top" uib-tooltip="编辑"
                       @*data-ng-click="vm.editInfo=1"*@
                       data-ng-click="vm.person.birthDate='1987-08-11'"
                       >
                        <i class="fa fa-edit"></i>
                    </a>
                </span>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">姓名:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> {{vm.person.name}} </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">性别:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> {{vm.person.gender|mapGender}} </p>
                            </div>
                        </div>
                    </div>

                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">出生日期:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> {{vm.person.birthDate|date}} </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">身份证号码:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> {{vm.person.nationalIDNumber}} </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row-->

                <span class="font-blue bold">联系方式</span>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Address:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> #24 Sun Park Avenue, Rolton Str </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">City:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> New York </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">State:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> New York </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Post Code:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> 457890 </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Country:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> USA </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->

                <span class="font-blue bold">地址</span>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Address:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> #24 Sun Park Avenue, Rolton Str </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">City:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> New York </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">State:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> New York </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Post Code:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> 457890 </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Country:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> USA </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
            </div>
        </form>

        <!--编辑状态-->
        <form role="form" data-ng-if="vm.editInfo === 0">
            <div class="form-body" style="min-height:500px">
                <div class="row">
                    <div class="col-md-6"><!--真是姓名-->
                        <div class="form-group form-md-line-input form-md-floating-label">
                            <div class="input-icon">
                                <input type="text" class="form-control"
                                       id="Name" name="Name"
                                       ng-model="vm.person.name"
                                       ng-class="{'edited':vm.person.name}"
                                       ng-required="true">
                                <label>真实姓名</label>
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6"><!--性别-->
                        <div class="form-group form-md-line-input form-md-floating-label">
                            <select class="form-control"
                                    id="Gender"
                                    ng-model="vm.person.gender"
                                    ng-class="{'edited':vm.person.gender}"
                                    ng-options="g.value as g.gender for g in vm.genders">
                            </select>
                            <label>性别</label>
                        </div>
                    </div>
                    <div class="col-md-6"><!--出生日期-->
                        <div class="form-group form-md-line-input form-md-floating-label">
                            <div class="input-icon">
                                <input ng-click="vm.open($event)" type="text" class="form-control"
                                       ng-class="{'edited':vm.person.birthDate}"
                                       id="BirthDate"
                                       ng-model="vm.person.birthDate"
                                       show-weeks="false"
                                       uib-datepicker-popup="yyyy-MM-dd"
                                       is-open="vm.opened"
                                       datepicker-options="vm.dateOptions"
                                       current-text="今天"
                                       clear-text="清除"
                                       close-text="关闭" 
                                       ng-required="true"/>
                                <label>出生日期 {{vm.person.birthDate}}</label>
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6"><!--身份证号码-->
                        <div class="form-group form-md-line-input form-md-floating-label">
                            <div class="input-icon">
                                <input type="text" class="form-control"
                                       id="NationalIDNumber"
                                       ng-class="{'edited':vm.person.nationalIDNumber}"
                                       ng-model="vm.person.nationalIDNumber"
                                       ng-required="true" minlength=10>
                                <label for="NationalIDNumber">身份证号码</label>
                                <i class="fa fa-bell-o"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions noborder">
                    <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.editInfo=0">@L("Cancel")</button>
                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")"
                            class="btn btn-primary blue" data-ng-click="vm.editInfo=0"
                            ng-disabled="personCreateOrEditForm.$invalid">
                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                    </button>
                </div>
            </div>
        </form>


    </uib-tab>
    <uib-tab heading="工作信息">
        工作详情....
        <pre>Selected date is: <em>{{vm.dt}}</em></pre>

        <h4>Popup</h4>
        <div class="row">
            <div class="col-md-6">
                <p class="input-group">
                    <input type="text" class="form-control" 
                           uib-datepicker-popup="{{format}}" 
                           ng-model="vm.dt"
                           is-open="vm.popup1.opened" 
                           datepicker-options="vm.dateOptions" 
                           ng-required="true" 
                           close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.open1()"><i class="fa fa-calendar"></i></button>
                    </span>
                </p>
            </div>

            <div class="col-md-6">
                <p class="input-group">
                    <input type="text" class="form-control"
                           uib-datepicker-popup
                           ng-model="vm.dt"      
                           is-open="vm.popup2.opened"
                           datepicker-options="vm.dateOptions"
                           ng-required="true"
                           close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.open2()"><i class="fa fa-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>

    </uib-tab>
</uib-tabset>
<!-- END FORM-->
@*<div class="form-group form-md-radios">
        <label>性别</label>
        <div class="md-radio-inline">
            <div class="md-radio">
                <input type="radio" class="md-radiobtn"
                       id="radio1"
                       name="Gender"
                       value="1" ng-model="vm.person.gender" checked="">
                <label for="radio1">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span>男
                </label>
            </div>
            <div class="md-radio">
                <input type="radio" class="md-radiobtn"
                       id="radio2"
                       name="Gender"
                       value="2" ng-model="vm.person.gender">
                <label for="radio2">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span> 女
                </label>
            </div>
        </div>
    </div>*@