<div class="page-head ng-scope">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>
            设备编辑
            <small>product manage</small>
        </h1>
    </div>
    <!-- END PAGE TITLE -->
</div>
<ul class="page-breadcrumb breadcrumb ng-scope">
    <li>
        <a data-ui-sref="product">设备管理</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">设备信息</span>
    </li>
</ul>
<div class="row">
    <div class="col-md-8">
        <div class="portlet light bordered" id="blockui_sample_1_portlet_body">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold">HP-1606 激光打印机</span>
                </div>
                <div class="actions">
                    <input type="checkbox" class="make-switch" checked
                           data-on="success"
                           data-on-color="success"
                           data-off-color="danger"
                           data-size="small"
                           data-on-text="启用"
                           data-off-text="停用">
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-md-line-input has-info form-md-floating-label">
                                    <div class="input-group left-addon">
                                        <span class="input-group-addon">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                        <input type="text" class="form-control edited" readonly value="56001"/>
                                        <label for="form_control_1">资产编号</label>
                                    </div>
                                </div>

                                <div class="form-group form-md-line-input has-info form-md-floating-label">
                                    <div class="input-group left-addon">
                                        <span class="input-group-addon">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                        <input type="text" class="form-control">
                                        <label for="form_control_1">使用科室</label>
                                        <span class="input-group-btn btn-right">
                                            <button class="btn green-haze" type="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group form-md-line-input has-info form-md-floating-label">
                                    <div class="input-group left-addon">
                                        <span class="input-group-addon">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                        <input type="text" class="form-control edited" readonly value="HP-1606">
                                        <label for="form_control_1">型号</label>
                                    </div>
                                </div>

                                <div class="form-group form-md-line-input has-info form-md-floating-label">
                                    <div class="input-group left-addon">
                                        <span class="input-group-addon">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                        <input type="text" class="form-control">
                                        <label for="form_control_1">放置地点</label>
                                        <span class="input-group-btn btn-right">
                                            <button class="btn green-haze" type="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-md-line-input has-info form-md-floating-label">
                                    <div class="input-group left-addon">
                                        <span class="input-group-addon">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                        <input type="text" class="form-control edited" readonly value="打印机">
                                        <label for="form_control_1">设备类型</label>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input has-info form-md-floating-label">
                                    <div class="input-group left-addon">
                                        <span class="input-group-addon">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                        <input type="text" class="form-control edited" readonly value="2016-5-25">
                                        <label for="form_control_1">启用日期</label>
                                    </div>
                                </div>   
                            </div>

                            <div class="col-md-6 margin-top-20">
                                <div class="form-group form-md-line-input">
                                    <textarea class="form-control" rows="2" placeholder="Enter more text"></textarea>
                                    <label for="form_control_1">用途描述</label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions noborder">
                        <button type="button" class="btn blue">保存</button>
                        <button type="button" class="btn default">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">   
        <div class="portlet light bordered" id="blockui_sample_1_portlet_body">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bubble font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp sbold">图片</span>
                </div>
                <div class="actions">
                    <a href="javascript:;" class="btn btn-sm green">                        
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <p>
                    At vero eos et accusamus et iusto odio dignissimos
                    ducimus qui blanditiis praesentium voluptatum deleniti
                    atque corrupti quos dolores et quas molestias
                    excepturi sint occaecati cupiditate non provident, similique.
                </p>
            </div>
        </div>
    </div>
    
</div>