
<!-- BEGIN PAGE BASE CONTENT -->
<div class="todo-main-header">
    <h3>工单管理</h3>  
</div>
<div class="todo-container">
    <div class="row">
        <div class="col-md-4">
            <ul class="todo-projects-container">
                <li class="todo-padding-b-0">
                    <div class="todo-head">
                        <a class="btn btn-square btn-sm red todo-bold pull-right" href="#taskDetail">Add Project</a>
                        <h3>未开始</h3>
                        <p>4 Waiting Attention</p>
                    </div>
                </li>
                <li class="todo-projects-item">
                    <h3>Metronic Admin Reborn</h3>
                    <p>Lorem dolor sit amet ipsum dolor sit consectetuer dolore. Lorem dolor sit amet ipsum dolor sit consectetuer dolore.</p>
                    <div class="todo-project-item-foot">
                        <p class="todo-red todo-inline">17 Tasks Remaining</p>
                        <p class="todo-inline todo-float-r">
                            16 Members
                            <a class="todo-add-button" href="#todo-members-modal" data-toggle="modal">+</a>
                        </p>
                    </div>
                </li>
                <div class="todo-projects-divider"></div>
                <li class="todo-projects-item todo-active">
                    <h3 class="todo-blue">Williams Logistics CRM</h3>
                    <p>Lorem dolor sit amet ipsum dolor sit consectetuer dolore. Lorem dolor sit amet ipsum dolor sit consectetuer dolore.</p>
                    <div class="todo-project-item-foot">
                        <p class="todo-red todo-inline">43 Tasks Remaining</p>
                        <p class="todo-inline todo-float-r">
                            32 Members
                            <a class="todo-add-button" href="#todo-members-modal" data-toggle="modal">+</a>
                        </p>
                    </div>
                </li>
                <div class="todo-projects-divider"></div>
                <li class="todo-projects-item">
                    <h3>Green Man & Van Tracking App</h3>
                    <p>Lorem dolor sit amet ipsum dolor sit consectetuer dolore. Lorem dolor sit amet ipsum dolor sit consectetuer dolore.</p>
                    <div class="todo-project-item-foot">
                        <p class="todo-red todo-inline">5 Tasks Remaining</p>
                        <p class="todo-inline todo-float-r">
                            9 Members
                            <a class="todo-add-button" href="#todo-members-modal" data-toggle="modal">+</a>
                        </p>
                    </div>
                </li>
                <div class="todo-projects-divider"></div>
                <li class="todo-projects-item">
                    <h3>Wall Mart Customer Care</h3>
                    <p>Lorem dolor sit amet ipsum dolor sit consectetuer dolore. Lorem dolor sit amet ipsum dolor sit consectetuer dolore.</p>
                    <div class="todo-project-item-foot">
                        <p class="todo-red todo-inline">27 Tasks Remaining</p>
                        <p class="todo-inline todo-float-r">
                            54 Members
                            <a class="todo-add-button" href="#todo-members-modal" data-toggle="modal">+</a>
                        </p>
                    </div>
                </li>
                <div class="todo-projects-divider"></div>
                <li class="todo-projects-item">
                    <h3>General Electric Website</h3>
                    <p>Lorem dolor sit amet ipsum dolor sit consectetuer dolore. Lorem dolor sit amet ipsum dolor sit consectetuer dolore.</p>
                    <div class="todo-project-item-foot">
                        <p class="todo-red todo-inline">11 Tasks Remaining</p>
                        <p class="todo-inline todo-float-r">
                            9 Members
                            <a class="todo-add-button" href="#todo-members-modal" data-toggle="modal">+</a>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="todo-projects-container">
                <li class="todo-padding-b-0">
                    <div class="todo-head">
                        <h3>进行中</h3>
                        <p>4 Waiting Attention</p>
                    </div>
                </li>
                <li class="todo-projects-item">
                    <h3>Metronic Admin Reborn</h3>
                    <p>Lorem dolor sit amet ipsum dolor sit consectetuer dolore. Lorem dolor sit amet ipsum dolor sit consectetuer dolore.</p>
                    <div class="todo-project-item-foot">
                        <p class="todo-red todo-inline">17 Tasks Remaining</p>
                        <p class="todo-inline todo-float-r">
                            16 Members
                            <a class="todo-add-button" href="#todo-members-modal" data-toggle="modal">+</a>
                        </p>
                    </div>
                </li>
                <div class="todo-projects-divider"></div>
                <li class="todo-projects-item todo-active">
                    <h3 class="todo-blue">Williams Logistics CRM</h3>
                    <p>Lorem dolor sit amet ipsum dolor sit consectetuer dolore. Lorem dolor sit amet ipsum dolor sit consectetuer dolore.</p>
                    <div class="todo-project-item-foot">
                        <p class="todo-red todo-inline">43 Tasks Remaining</p>
                        <p class="todo-inline todo-float-r">
                            32 Members
                            <a class="todo-add-button" href="#todo-members-modal" data-toggle="modal">+</a>
                        </p>
                    </div>
                </li>
                <div class="todo-projects-divider"></div>
                <li class="todo-projects-item">
                    <h3>Green Man & Van Tracking App</h3>
                    <p>Lorem dolor sit amet ipsum dolor sit consectetuer dolore. Lorem dolor sit amet ipsum dolor sit consectetuer dolore.</p>
                    <div class="todo-project-item-foot">
                        <p class="todo-red todo-inline">5 Tasks Remaining</p>
                        <p class="todo-inline todo-float-r">
                            9 Members
                            <a class="todo-add-button" href="#todo-members-modal" data-toggle="modal">+</a>
                        </p>
                    </div>
                </li>
                <div class="todo-projects-divider"></div>
                <li class="todo-projects-item">
                    <h3>Wall Mart Customer Care</h3>
                    <p>Lorem dolor sit amet ipsum dolor sit consectetuer dolore. Lorem dolor sit amet ipsum dolor sit consectetuer dolore.</p>
                    <div class="todo-project-item-foot">
                        <p class="todo-red todo-inline">27 Tasks Remaining</p>
                        <p class="todo-inline todo-float-r">
                            54 Members
                            <a class="todo-add-button" href="#todo-members-modal" data-toggle="modal">+</a>
                        </p>
                    </div>
                </li>
                <div class="todo-projects-divider"></div>
                <li class="todo-projects-item">
                    <h3>General Electric Website</h3>
                    <p>Lorem dolor sit amet ipsum dolor sit consectetuer dolore. Lorem dolor sit amet ipsum dolor sit consectetuer dolore.</p>
                    <div class="todo-project-item-foot">
                        <p class="todo-red todo-inline">11 Tasks Remaining</p>
                        <p class="todo-inline todo-float-r">
                            9 Members
                            <a class="todo-add-button" href="#todo-members-modal" data-toggle="modal">+</a>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="todo-projects-container">
                <li class="todo-padding-b-0">
                    <div class="todo-head">
                        <h3>已完成</h3>
                        <p>4 Waiting Attention</p>
                    </div>
                </li>
                <li class="todo-projects-item">
                    <h3>Metronic Admin Reborn</h3>
                    <p>Lorem dolor sit amet ipsum dolor sit consectetuer dolore. Lorem dolor sit amet ipsum dolor sit consectetuer dolore.</p>
                    <div class="todo-project-item-foot">
                        <p class="todo-red todo-inline">17 Tasks Remaining</p>
                        <p class="todo-inline todo-float-r">
                            16 Members
                            <a class="todo-add-button" href="#todo-members-modal" data-toggle="modal">+</a>
                        </p>
                    </div>
                </li>
                <li class="todo-projects-divider"></li>
                <li class="todo-projects-item todo-active">
                    <h3 class="todo-blue">Williams Logistics CRM</h3>
                    <p>Lorem dolor sit amet ipsum dolor sit consectetuer dolore. Lorem dolor sit amet ipsum dolor sit consectetuer dolore.</p>
                    <div class="todo-project-item-foot">
                        <p class="todo-red todo-inline">43 Tasks Remaining</p>
                        <p class="todo-inline todo-float-r">
                            32 Members
                            <a class="todo-add-button" href="#todo-members-modal" data-toggle="modal">+</a>
                        </p>
                    </div>
                </li>
                <div class="todo-projects-divider"></div>
                <li class="todo-projects-item">
                    <h3>Green Man & Van Tracking App</h3>
                    <p>Lorem dolor sit amet ipsum dolor sit consectetuer dolore. Lorem dolor sit amet ipsum dolor sit consectetuer dolore.</p>
                    <div class="todo-project-item-foot">
                        <p class="todo-red todo-inline">5 Tasks Remaining</p>
                        <p class="todo-inline todo-float-r">
                            9 Members
                            <a class="todo-add-button" href="#todo-members-modal" data-toggle="modal">+</a>
                        </p>
                    </div>
                </li>
                <div class="todo-projects-divider"></div>
                <li class="todo-projects-item">
                    <h3>Wall Mart Customer Care</h3>
                    <p>Lorem dolor sit amet ipsum dolor sit consectetuer dolore. Lorem dolor sit amet ipsum dolor sit consectetuer dolore.</p>
                    <div class="todo-project-item-foot">
                        <p class="todo-red todo-inline">27 Tasks Remaining</p>
                        <p class="todo-inline todo-float-r">
                            54 Members
                            <a class="todo-add-button" href="#todo-members-modal" data-toggle="modal">+</a>
                        </p>
                    </div>
                </li>
                <div class="todo-projects-divider"></div>
                <li class="todo-projects-item">
                    <h3>General Electric Website</h3>
                    <p>Lorem dolor sit amet ipsum dolor sit consectetuer dolore. Lorem dolor sit amet ipsum dolor sit consectetuer dolore.</p>
                    <div class="todo-project-item-foot">
                        <p class="todo-red todo-inline">11 Tasks Remaining</p>
                        <p class="todo-inline todo-float-r">
                            9 Members
                            <a class="todo-add-button" href="#todo-members-modal" data-toggle="modal">+</a>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- END PAGE BASE CONTENT -->
