<!-- BEGIN PAGE BASE CONTENT -->
<div class="page-head ng-scope">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>
            工单管理
            <small>taskOrder manage </small>
        </h1>
    </div>
    <!-- END PAGE TITLE -->
</div>
<ul class="page-breadcrumb breadcrumb ng-scope">
    <li>
        <a href="javascript:void(0)">工单列表</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">全部</span>
    </li>
</ul>
<div class="todo-container">
    <div class="row">
        <div class="col-md-4">
            <ul class="todo-projects-container">
                <li class="todo-padding-b-0">
                    <div class="todo-head">
                        <a class="btn btn-square btn-sm green bold pull-right" data-ui-sref="taskCE({orderId:0})">新建工单</a>
                        <h3>未开始</h3>
                        <p><span class="bold">{{vm.todo.length}}</span> &nbsp;&nbsp; 个工单等待分配</p>
                    </div>
                </li>
                <li ng-repeat="item in vm.todo = (vm.taskOrders | filter:{state:1}) | orderBy:['priority','-creationTime']:true"
                    ng-dblclick="vm.toEdit(item.id)" 
                    class="todo-projects-item" style="border-bottom: 1px solid;border-color: #ebf0f5;">
                    <div class="todo-project-item-img">
                        <button class="todo-add-button" ng-click="vm.openAssignUserModal()">+</button>
                    </div>
                    <div class="todo-project-item-body">
                        <div class="todo-project-info">
                            <h3>{{item.location}}</h3>
                            <p class="todo-red todo-inline bold">{{item.deviceName}}</p>
                            <p class="bold font-dark">{{item.description}}</p>
                        </div>
                        <div class="todo-project-foot">
                            <span class="todo-tasklist-date">
                                <i class="fa fa-clock-o"></i> {{item.creationTime|getExecutionTime}}
                            </span>
                            <span class="todo-tasklist-date">
                                <i class="fa fa-phone"></i> 8758
                            </span>
                            <span class="badge badge-roundless" ng-class="vm.setStyle(item.priority)">
                            {{item.priority|mapTaskPriority}}
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="todo-projects-container">
                <li class="todo-padding-b-0">
                    <div class="todo-head">
                        <h3 class="font-blue">进行中</h3>
                        <p><span class="bold">{{vm.doing.length}}</span> &nbsp;&nbsp;个工单进行中</p>
                    </div>
                </li>
                <li ng-repeat="item in vm.doing = (vm.taskOrders | filter:{state:2})| orderBy:['priority']:true"
                     ng-dblclick="vm.toEdit(item.id)" 
                    class="todo-projects-item" style="border-bottom: 1px solid;border-color: #ebf0f5;">
                    <div class="todo-project-item-img">
                        <img src="~/metronic/assets/admin/layout4/img/avatar4.jpg" />
                    </div>
                    <div class="todo-project-item-body">
                        <div class="todo-project-info">
                            <h3>{{item.location}}</h3>
                            <p class="todo-red todo-inline bold">{{item.deviceName}}</p>
                            <p class="bold font-dark">{{item.description}}</p>
                        </div>
                        <div class="todo-project-foot">
                            <span class="todo-tasklist-date">
                                <i class="fa fa-clock-o"></i> {{item.creationTime|getExecutionTime}}
                            </span>
                            <span class="todo-tasklist-date">
                                <i class="fa fa-phone"></i> 8758
                            </span>
                            <span class="badge badge-roundless" ng-class="vm.setStyle(item.priority)">
                                {{item.priority|mapTaskPriority}}
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="todo-projects-container">
                <li class="todo-padding-b-0">
                    <div class="todo-head">
                        <h3 class="font-red">已暂停</h3>
                        <p><span class="bold">{{vm.stop.length}}</span> &nbsp;&nbsp; 个工单已经冻结</p>
                    </div>
                </li>
                <li ng-repeat="item in vm.stop = (vm.taskOrders | filter:{state:4})| orderBy:['priority']:true" 
                     ng-dblclick="vm.toEdit(item.id)"
                    class="todo-projects-item" style="border-bottom: 1px solid;border-color: #ebf0f5;">
                    <div class="todo-project-item-img">
                        <img src="~/metronic/assets/admin/layout4/img/avatar4.jpg" />
                    </div>
                    <div class="todo-project-item-body">
                        <div class="todo-project-info " >
                            <h3>{{item.location}}</h3>
                            <p class="todo-red todo-inline bold">{{item.deviceName}}</p>
                            <p class="bold font-dark">{{item.description}}</p>
                        </div>
                        <div class="todo-project-foot">
                            <span class="todo-tasklist-date">
                                <i class="fa fa-clock-o"></i> {{item.creationTime|getExecutionTime}}
                            </span>
                            <span class="todo-tasklist-date">
                                <i class="fa fa-phone"></i> 8758
                            </span>
                            <span class="badge badge-roundless" ng-class="vm.setStyle(item.priority)">
                                {{item.priority|mapTaskPriority}}
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- END PAGE BASE CONTENT -->
